body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f3f3f3 !important;
}
/******************* header ******/
.zomato-header {
  height: 62px;
  width: 100%;
  background-color: #cb202d;
}

.logo__container {
  width: 100px;
  margin: 0;
  padding: 4px 0;
}

.zomato-header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  /* margin: 0 auto; */
  padding: 0 10px;
  width: 80%;
}

.navbar #search_button {
  cursor: pointer;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.75);
  font-weight: 500;
  font-size: 15px;
  border-radius: 4px;
  height: 38px;
  padding: 6px 10px;
}
#search_bar_wrapper {
  display: flex;
  /* width: 100%; */
  color: white;
}
.location {
  outline: none;
  width: 80%;
  border: none;
  padding-left: 0.5vw;
}

.search_box {
  display: flex;
  cursor: pointer;
  padding-left: 6px;
  width: 25vw;
  height: 100%;
  border-radius: 3px;
  background-color: #fff;
}

input::-webkit-input-placeholder {
  font-size: 14px;
}
.search_location {
  display: flex;
  cursor: pointer;
  padding-left: 6px;
  width: 16vw;
  height: 100%;
  border-radius: 3px;
  background-color: #fff;
}

i {
  color: #b3b3b3;
  margin-top: 0.7vw;
  margin-right: 0.3vw;
}

#location_select::placeholder {
  color: black;
  opacity: 0.75;
}

/*********************************** homepage ****/

.homeImage {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./component/pizza3.jpg');
  background-size: cover;
  width: 100%;
}
.br3 {
  width: 80%;
  height: 80%;
  margin-bottom: 2vw;
}

.br32 {
  width: 11vw;
  height: 9vw;
}

#x {
  display: inline;
  padding: 0px;
}

.AdsBanner {
  background-image: url('https://b.zmtcdn.com/zomaland/cdc32709b500b0d16995a13ffab191f61573792927.jpeg?output-format=webp');
  background-size: cover;
  height: 20vw;
  margin-top: 5vw;
}

.statistic {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b9bfc7;
  line-height: 1.1;
}
.label {
  font-size: 14px;
  font-weight: bold;
}

.Coll_image {
  background: url('https://b.zmtcdn.com/data/collections/f4668f4fe99461813def7b726b79921d_1536825795.jpg');
  width: 100%;
  background-size: cover;
  height: 20vw;
}

.coll_button {
  cursor: pointer;
  color: #33373d;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  height: 38px;
  margin-left: 1vw;
}

.rating,
.ratings {
  color: white;
  height: 2vw;
  width: 3vw;
  border-radius: 3px;
  font-weight: bold;
  padding: 2px 0px 0px 9px;
}

.detailsContainer {
  display: flex !important;
  justify-content: space-between;

  width: 70vh;
}
.addressType {
  flex: 7;
  font-size: 14px;
  color: #33373d;
}
.cuisionType {
  flex: 2;
  font-size: 12px;
  color: #89959b;
}

.ratings {
  float: right;
}
